/* declare CSS variables */
:root {
    --header-dark-grey: #31343D;
    --header-light-blue: #92CCCD;
}


/* TODO: add font-family here once i figure out what it is */
body {
    display: flex;
    flex-direction: column;
    /* line height? */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-dark-grey);
}

/* TODO: Update headings so that they match example (font-family, size, color etc) */
h1 {
    font-size: 200%;
    background-color: var(--header-light-blue);
    color: var(--header-dark-grey);
}

/* TODO: Update headings so that they match example (font-family, size, color etc) */
h2 {
    margin: 2% 0;
    font-size: 150%;
}

/* Nav bar upper right spacing */
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Nav bar upper right link colors */
header nav a {
    color: var(--header-light-blue);
}