/* declare CSS variables */
:root {
    --header-dark-grey: #31343D;
    --header-light-blue: #92CCCD;
    --main-dark-blue-text: #445876;
}

* {
    font-family: 'Trebuchet MS', 'Helvetica', 'sans-serif';
}


body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-dark-grey);
}

/* TODO: Update headings so that they match example (font-family, size, color etc) */
h1 {
    font-size: 250%;
}

/* TODO: Update headings so that they match example (font-family, size, color etc) */
h2 {
    /* margin: 2% 0; */
    font-size: 200%;
}

/* h1 upper left margin, font size and font family */
header h1 {
    background-color: var(--header-light-blue);
    color: var(--header-dark-grey);
    padding: .5% .5% .5% 2.5%;
    margin: .5% 0;
    /* height: 100vh; */
}

/* Nav bar upper right spacing */
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Nav bar upper right link color */
header nav a {
    color: var(--header-light-blue);
    font-size: 125%;
    text-decoration: none;
    border-bottom: solid var(--header-light-blue) 5px;
    padding: 0 10px 5px 10px;
}

/* Nav bar positioning */
nav {
    margin-right: 5%;
    margin-bottom: 5px;
}

/* hero banner */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    background-image:url("../images/chevron.jpg");
    background-size: cover;
    height: 20vh;
    position: relative;
}

.hero h2 {
    position: absolute;
    right: 5%;
    bottom: 10%;
    background-color: var(--header-light-blue);
    color: var(--header-dark-grey);
    padding: 10px;
}


/* about me section */
.about-me {
    display: flex;
    color: var(--main-dark-blue-text);
    margin: 25px 60px 25px 100px;
}

.about-me h1 {
    border-right: solid var(--main-dark-blue-text) 5px;
    padding-right: 20px;
    margin-right: 40px;
    text-align: right;
}

.about-me p{
    margin: 10px 0 10px 0;
}

/* work section */
.work {
    display: flex;
    color: var(--main-dark-blue-text);
    margin: 25px 60px 25px 100px;
}

.work h1 {
    border-right: solid var(--main-dark-blue-text) 5px;
    padding-right: 20px;
    margin-right: 40px;
    text-align: right;
    flex: 0 0 20%;
}

.list-of-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 77%;
}

.item {
    width: 48%;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50%-1em);
    display: flex;
    align-items: flex-end;
    margin: .5em;
    text-decoration: none;
    /* go back and target other ids for each project */
    background-image: url('../images/horiseon-cropped2.png');
    /* why cant i see the border??? */
    border: 5px solid var(--header-light-blue);
    background-size: 150%;
}

.item:first-child{
    min-height: 400px;
    flex-basis: 100%;
}

.project:nth-child(5n-4) {
    width: 100%;
}

/* .project {
    background-image: url(../images/horiseon.png);
    background-size: cover;
} */




.contact-me {
    display: flex;
}